@import './css/bootstrap.min.css';
@font-face {
  font-family: 'play';
  src: url("fonts/playfairDisplay-Regular.ttf");
}
@font-face {
  font-family: 'ubuntu';
  src: url("fonts/Ubuntu-Regular.ttf");
}
* {
  font-family: 'play';
}
#menu-principal {
  background-color: #fff !important;
  display: flex;
  padding-top: 50px;
  font-family: 'play';
}
#navbarNav {
  justify-content: flex-end;
}
#navbarNav >ul >li {
  margin-right: 40px;
}
#pie-pagina {
  display: flex;
  padding: 40px;
  background-color: #f3f3f3;
  width: 100%;
  flex-wrap: wrap;
}
#enlace-pie-pagina {
  justify-content: flex-start;
  width: 50%;
}
#enlace-pie-pagina >ul {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}
#enlace-pie-pagina >ul >li {
  float: left;
  margin-right: 15px;
}
#enlace-pie-pagina >ul >li >a {
  color: #000;
}
#enlace-redes-sociales {
  justify-content: flex-end;
  width: 40%;
  display: flex;
  margin-left: 10%;
}
#enlace-redes-sociales >ul {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}
#enlace-redes-sociales >ul >li {
  list-style: none;
  display: flex;
  float: left;
  margin-right: 15px;
}
#enlace-redes-sociales >ul >li >a {
  color: #575757;
}
#letra-photodiary {
  font-family: 'ubuntu';
  color: #d0d0c6;
  font-size: 13px;
}
#letra-perfect-weekend {
  color: #626262;
  font-size: 30px;
}
#letra-parrafo {
  color: #7d7d7d;
  font-size: 15px;
}
#letra-leave {
  font-family: 'ubuntu';
  color: #d0d0c6;
  font-size: 13px;
  margin-top: 40px;
}
#div-photografy {
  margin-top: 30px;
  padding: 70px;
}
#div-lifestyle {
  margin-top: 5px;
  padding: 70px;
}
#letra-lifestyle {
  font-family: 'ubuntu';
  color: #d0d0c6;
  font-size: 13px;
  margin-top: 40px;
}
#letra-bajo-lifestyle {
  color: #686868;
  font-size: 30px;
}
#letra-photodiary {
  font-family: 'ubuntu';
  color: #d0d0c6;
  font-size: 13px;
  margin-top: 40px;
}
#letra-bajo-photodiary {
  color: #686868;
  font-size: 30px;
}
#cuadro-email {
  background-color: #f0f0f0;
  margin-top: 5px;
  padding: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#div-email {
  padding: 20px;
}
#letra-div-email {
  color: #5e5e5e;
  font-size: 30px;
  text-align: center;
  width: 100%;
}
#letra-parrafo {
  font-family: 'ubuntu';
  color: #b7b7b7;
  font-size: 13px;
}
#letra-parrafo-email {
  font-family: 'ubuntu';
  color: #b7b7b7;
  font-size: 13px;
  text-align: center;
}
#cuadro-leer-mas {
  width: 180px;
  height: 65px;
  border: 1px solid #5e5e5e;
  float: left;
  color: #5e5e5e;
  font-size: 25px;
  text-align: center;
  background: #fff;
}
#contenedor-email {
  width: 40%;
  justify-content: center;
  display: flex;
  border-bottom: 1px solid #000;
  margin: auto;
  margin-top: 50px;
}
#email {
  background: #f0f0f0;
  border: 0;
  align-items: flex-start;
}
#cont-email-img {
  width: 100%;
  display: flex;
}
#cont-email {
  width: 75%;
  display: flex;
  justify-content: flex-start;
}
#cont-img {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}
#cont-load-more {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}
#letra-photodiary-pag2 {
  font-family: 'ubuntu' !important;
  color: #b2b3b0;
  font-size: 10px;
  margin-top: 40px;
  margin-top: 50px;
}
#letra-parrafo-pag2 {
  font-family: 'ubuntu' !important;
  color: #5e5e5e;
  font-size: 13px;
}
#img-mantilla {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 60px;
}
#img-montana {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 60px;
}
#img-falda {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 60px;
}
#letra-parrafo-cursivo {
  font-size: 13px;
  padding: 0px 200px 0px 200px;
  margin-top: 40px;
}
#letra-parrafo2-pag2 {
  color: #5e5e5e;
  font-size: 15px;
  padding: 0px 160px 0px 160px;
  margin-top: 40px;
}
#redes-pag2 {
  justify-content: flex-end;
  width: 40%;
  display: flex;
  margin-left: 50%;
  margin-top: 70px;
}
#redes-pag2 >ul {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}
#redes-pag2 >ul >li {
  list-style: none;
  display: flex;
  float: left;
  margin-right: 15px;
  color: #b2b3b0;
  font-family: 'ubuntu' !important;
}
#redes-pag2 >ul >li >a {
  color: #b2b3b0;
}
#contenedor-imgs {
  width: 100%;
  justify-content: center;
  display: flex;
}
.imgsss {
  width: 33.33%;
  padding: 10px;
}
.imgss {
  width: 100%;
}
#cuadro-you-may {
  background-color: #f7f7f7;
  margin-top: 100px;
  padding: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 100px;
}
.style-h3 {
  margin-top: 30px;
  font-size: 20px;
  color: #5a5a5a;
}
#you-may {
  color: #5a5a5a;
}
#parrafo-segpag {
  padding: 60px;
}
