@import './css/bootstrap.min.css';


#menu-principal
    background-color: #FFF!important;
    display: flex;
    padding-top: 50px;

#navbarNav
    justify-content: flex-end;

#navbarNav 
    >ul 
        >li
            margin-right: 80px;    